# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [24]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [25]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url,sep='|')

### Step 4. Discover what is the mean age per occupation

In [26]:
users.groupby(by='occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [27]:
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [39]:
users['ones']=1

filter=users['gender']=="M"

In [29]:
df_gr=users.groupby(["gender","occupation"])["ones"].sum()

In [55]:
df_gr_por=df_gr.groupby(level=1).apply(
    lambda x:
    x/x.sum() *100
)

In [56]:
df_gr_por.sort_values(ascending= False).filter(like='M')

gender  occupation
M       doctor           100.000000
        engineer          97.014925
        technician        96.296296
        retired           92.857143
        programmer        90.909091
        executive         90.625000
        scientist         90.322581
        entertainment     88.888889
        lawyer            83.333333
        salesman          75.000000
        educator          72.631579
        student           69.387755
        other             65.714286
        marketing         61.538462
        writer            57.777778
        none              55.555556
        administrator     54.430380
        artist            53.571429
        librarian         43.137255
        healthcare        31.250000
        homemaker         14.285714
Name: ones, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [47]:
users.groupby('occupation')['age'].agg(['min','max'])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [49]:
users.groupby(["gender","occupation"])["age"].mean()

gender  occupation
F       administrator    40.638889
        artist           30.307692
        educator         39.115385
        engineer         29.500000
        entertainment    31.000000
        executive        44.000000
        healthcare       39.818182
        homemaker        34.166667
        lawyer           39.500000
        librarian        40.000000
        marketing        37.200000
        none             36.500000
        other            35.472222
        programmer       32.166667
        retired          70.000000
        salesman         27.000000
        scientist        28.333333
        student          20.750000
        technician       38.000000
        writer           37.631579
M       administrator    37.162791
        artist           32.333333
        doctor           43.571429
        educator         43.101449
        engineer         36.600000
        entertainment    29.000000
        executive        38.172414
        healthcare       45.400000
        homemaker        23.000000
        lawyer           36.200000
        librarian        40.000000
        marketing        37.875000
        none             18.600000
        other            34.028986
        programmer       33.216667
        retired          62.538462
        salesman         38.555556
        scientist        36.321429
        student          22.669118
        technician       32.961538
        writer           35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [54]:
df_gr=users.groupby(["gender","occupation"])["ones"].sum()
df_gr_por=df_gr.groupby(level=0).apply(
    lambda x:
    x/x.sum() *100
)
df_gr_por.sort_values(ascending= False)

gender  occupation
F       student          21.978022
M       student          20.298507
F       administrator    13.186813
        other            13.186813
        librarian        10.622711
M       other            10.298507
        educator         10.298507
        engineer          9.701493
F       educator          9.523810
M       programmer        8.955224
F       writer            6.959707
M       administrator     6.417910
F       artist            4.761905
M       executive         4.328358
        scientist         4.179104
F       healthcare        4.029304
M       technician        3.880597
        writer            3.880597
F       marketing         3.663004
M       librarian         3.283582
        marketing         2.388060
        entertainment     2.388060
        artist            2.238806
F       homemaker         2.197802
        programmer        2.197802
M       retired           1.940299
        lawyer            1.492537
F       none              1.465201
M       salesman          1.343284
F       scientist         1.098901
        executive         1.098901
        salesman          1.098901
M       doctor            1.044776
        healthcare        0.746269
        none              0.746269
F       lawyer            0.732601
        entertainment     0.732601
        engineer          0.732601
        retired           0.366300
        technician        0.366300
M       homemaker         0.149254
Name: ones, dtype: float64