# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [14]:
url_1="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url_2="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

#importing datasets

car1 = pd.read_csv(url_1,sep=",")
car2 = pd.read_csv(url_2,sep=",")


car1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [20]:
car1.drop(['Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],axis=1,inplace=True)

### Step 5. What is the number of observations in each dataset?

In [22]:
print(car1.shape)
print(car2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [28]:
cars = car1.append(car2)

cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [35]:
owners=np.random.randint(15000,high=73001,size=398, )
owners

array([71306, 44276, 61703, 59005, 57113, 63229, 50951, 17717, 71551,
       45043, 49515, 34325, 71488, 43605, 68704, 43349, 44296, 22302,
       35058, 52548, 61963, 45985, 42659, 41836, 41685, 56363, 21018,
       29479, 67900, 60158, 47984, 66401, 38850, 34824, 18458, 22442,
       64553, 54394, 68014, 38433, 51017, 22923, 68350, 25496, 43218,
       63228, 71543, 57389, 61443, 69756, 46789, 56689, 55713, 38592,
       43295, 24372, 53975, 48495, 20216, 36177, 65209, 45333, 20847,
       37300, 48690, 16304, 34200, 23635, 26948, 21143, 19195, 58212,
       70713, 30588, 42852, 60583, 66791, 61581, 34057, 26980, 43855,
       50004, 42322, 18970, 48601, 56475, 18395, 36116, 69707, 20572,
       30316, 39970, 31963, 27066, 72158, 20921, 35146, 28212, 18002,
       68866, 44896, 31575, 72137, 23979, 63881, 35081, 16694, 43982,
       52687, 44144, 27781, 42246, 39362, 71276, 38427, 51679, 62852,
       20945, 57990, 32171, 30393, 23367, 25241, 41125, 49112, 30747,
       66427, 34772, 68877, 19108, 38313, 36727, 51813, 53306, 29808,
       16316, 51176, 25547, 21570, 41352, 17579, 31204, 24178, 49640,
       65913, 53298, 48051, 20196, 42304, 57183, 47946, 71522, 18350,
       35892, 33343, 32984, 72324, 52781, 42494, 65965, 28606, 43288,
       29901, 71333, 51444, 40047, 46530, 34521, 17916, 30543, 42883,
       62015, 27577, 62553, 40523, 50517, 64067, 54709, 62774, 58306,
       28771, 46317, 48190, 30741, 43611, 61050, 38456, 41251, 28460,
       37799, 25806, 21288, 29835, 16629, 25398, 32504, 31567, 37563,
       38481, 39304, 66624, 55050, 56682, 60566, 18892, 56385, 55579,
       53461, 55218, 31097, 38353, 54335, 40747, 28998, 40896, 45048,
       26192, 62107, 22519, 28433, 66507, 67378, 36825, 70490, 30650,
       15323, 22783, 48837, 20137, 62703, 65995, 58474, 16725, 67096,
       52537, 42473, 24770, 42220, 53730, 71826, 43253, 22395, 33623,
       39143, 26273, 59488, 60194, 50979, 65317, 61488, 41708, 51873,
       49112, 69365, 65069, 29043, 35429, 15124, 21705, 52528, 63218,
       51295, 69651, 15582, 42098, 36792, 34814, 18780, 50242, 26864,
       53668, 72332, 51887, 70371, 54108, 24128, 26640, 22827, 54036,
       67877, 23583, 53881, 46837, 40431, 15357, 62167, 58541, 66346,
       61426, 46792, 47466, 19014, 59066, 63897, 68905, 63945, 16446,
       25905, 38780, 32737, 42799, 37228, 36263, 15414, 27210, 64351,
       39762, 28801, 37787, 55455, 39845, 63208, 66252, 72589, 28023,
       28142, 72345, 35041, 69672, 22804, 34493, 69137, 55904, 23879,
       38667, 59835, 34416, 68528, 36753, 27936, 56068, 52311, 41445,
       15484, 38313, 24301, 52096, 35294, 29330, 70487, 56035, 29145,
       29855, 57181, 64914, 23211, 47661, 63079, 17836, 55871, 46141,
       41649, 59822, 51515, 36279, 66927, 22536, 40068, 36301, 56683,
       29363, 37764, 20640, 57946, 57281, 56052, 18600, 43083, 32294,
       19445, 32092, 65787, 37171, 70494, 34370, 70209, 40768, 29678,
       55950, 59502, 67580, 70435, 62989, 41133, 67324, 66650, 60502,
       70530, 57900, 38479, 30659, 27148, 59108, 58274, 71257, 70402,
       26047, 43910])

### Step 8. Add the column owners to cars

In [36]:
cars["owners"]= owners

In [37]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,71306
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,44276
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,61703
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,59005
4,17.0,8,302,140,3449,10.5,70,1,ford torino,57113
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,58274
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,71257
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,70402
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,26047
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,43910